<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Charles Baddage</h1>

    <p>
      Charles Baddage Nacio el 26 de diciembre de 1971 en Londres. Fue un
      matematico y cientifico de la computacion britanico diseñador de la
      calculadora mecanica capaz de poder calcular tablas de funciones numericas
      por el metodo de diferencias, tambien diseño la analitica para ejecutar
      programas de tabulacion o computacion, por estos inventos se le considera
      como una de las primeras personas en concebir la idea de lo que hoy, en la
      actualidad de ahora, lo llamariamos "computadora", por lo que se le
      considera como "El padre de la computacion".
    </p>
    <p>
      Fue en 1813 cuando le surgió por primera vez la idea de calcular las
      tablas matemáticas, eliminando errores debidos a la fatiga o aburrimiento
      que sufrían las personas encargadas de compilarlas. Tres factores parecían
      haberlo motivado: una aversión al desorden, su conocimiento de tablas
      logarítmicas, y los trabajos de máquinas calculadoras realizadas por
      Blaise Pascal y Gottfried Leibniz. Poco después, construyó una pequeña
      calculadora capaz de completar ciertos cálculos matemáticos hasta ocho
      decimales.
    </p>
    <p>
      En 1822, en una carta dirigida a Sir Humphry Davy en la aplicación de
      maquinaria al cálculo e impresión de tablas matemáticas, discutió los
      principios de una máquina calculadora. Al año siguiente el gobierno
      comenzó a ayudarle financieramente a la construcción de una máquina con
      capacidad hasta 20 decimales. En sus planes estaba incluir el control
      secuencial, la derivación y el ciclo, marcando la transición de la
      aritmética mecanizada a la computación. Para fabricar el primer modelo
      necesitaba dinero, 1,500 libras esterlinas, que le fue proporcionado por
      el gobierno, comprometiéndose a entregar la máquina en dos años. Sin
      embargo, la construcción avanzaba muy lentamente y, al cumplirse el plazo
      en 1827, la máquina aún no estaba terminada y Babbage sufrió una fuerte
      crisis nerviosa cuando se le acusó de haber dispuesto de los fondos del
      gobierno para su propio beneficio. A pesar de eso, se le adelantó más
      dinero y prosiguió con su trabajo hasta 1834, cuando el principal de sus
      mecánicos renunció y el invento quedó sin terminar, quedando en el olvido
      hasta 1937.
    </p>

    <h4>Continuar:</h4>
    <a href="/berners-lee">Sobre Lerners-Lee</a>

    <a href="/"><h4>Volver al inicio</h4></a>
  </body>
</html>
