<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Tim Berners-Lee</h1>

    <p>
        Tim Berners-Lee nacio el 8 de junio de 1955, en Londres, Reino Unido.
        Graduado en fisica en el Queen's College de la universidad de oxford en
        1976, cuando tenia 21 años. Estando en la universidad, fabrico una
        computadora con un viejo televisor comprado en un taller de reparacion. En
        1978, ingrenso en D.G. Nash Limite donde desarollo un sistema operativo,
        en 1980 entro en el CERN(Organizacion Europea para la Investigacion
        Nuclear) donde presento un proyexto basado en el hipertexto para compartir
        informacion mas facilmente entre investigadores. Elaboro por entonces
        ENQUIRE, un programa que no llego a lanzarse.
      </p>
      <p>
        Usando planteamientos parecidos a los que habia usado en el sistema
        ENQUIRE, para crear World Wide Web, diseño el primer navegador, al que
        llamo WORLDWIDEWEB siendo desarrollado con NEXTSTEP, junto al primer
        servidor web al que llamo httpd (HyperText Transfer Protocol daemon).
        Profesor de ciencias de la computacion en la Universidad de Oxford y en el
        instituto de Tecnologia de MassaChusetts (MIT), director del World Wide
        Web Consortium (W3C) y supervisor de la web. Fundador de la World Wide Web
        Foundation; investigador principal y titular de la cátedra de fundadores
        de 3Com en el Laboratorio de Ciencias de la Computación e Inteligencia
        Artificial (CSAIL) del MIT; director de la Web Science Research Initiative
        (WSRI); miembro del consejo asesor del MIT Center for Collective
        Intelligence. Fundador y presidente del Open Data Institute.
      </p>
      <p>
        En 1997, fue hecho oficial de la Orden del Imperio Británico. Miembro de
        la Royal Society desde 2001. Recibió el Premio Príncipe de Asturias,
        compartido con Lawrence Roberts, Robert Kahn y Vinton Cerf en la categoría
        de investigación científica y técnica en 2002. El 16 de julio de 2004, la
        reina Isabel II le concedió por su trabajo pionero el rango Knight
        Commander, la Orden más sobresaliente del Imperio Británico. En abril de
        2009, fue elegido asociado extranjero de la Academia Nacional de Ciencias
        de los Estados Unidos. Desde 2011, pertenece al consejo de administración
        de la Fundación Ford. En 2012 se le hizo miembro del Salón de la Fama de
        Internet por la Internet Society. Apareció en la lista de la revista Time
        de las 100 personas más importantes del siglo XX. Recibió el Premio Turing
        2016 por inventar la World Wide Web, el primer navegador web y los
        protocolos y algoritmos fundamentales que permiten escalar la Web.
      </p>


    <h4>Continuar:</h4>
    <a href="/Clarke">Sobre Clarke</a>

    <a href="/"><h4>Volver al inicio</h4></a>
  </body>
</html>
