<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edmund Melson Clarke Jr</h1>

    <p>
        Edmund Melson Clarke, Jr. (nacido el 27 de julio de 1945) es un
        estadounidense jubilado científico de la computación y académico conocido
        por desarrollarcomprobación de modelo, un método para verificar
        formalmente los diseños de hardware y software. Sistemas FORE Profesor de
        Ciencias de la Computación Emérito en Universidad de Carnegie mellon.
        Clarke, junto con E. Allen Emerson y Joseph Sifakis, ha recibido el premio
        2007 Asociación para Maquinaria de Computación SOY. Premio Turing. Los
        intereses de Clarke incluyen software y hardware verificación y
        demostración automática del teorema. En su Ph.D. tesis demostró que
        ciertos lenguaje de programación las estructuras de control no tenían
        buenas Sistemas de prueba de estilo Hoare. En 1981 él y su Ph.D.
        estudiante E. Allen Emerson propuso por primera vez el uso de comprobación
        de modelo como técnica de verificación para sistemas concurrentes de
        estado finito. Su grupo de investigación fue pionero en el uso de
        comprobación de modelo por verificación de hardware. Simbólico
        comprobación de modelo usando diagramas de decisión binaria también fue
        desarrollado por su grupo. Esta importante técnica fue el tema del Ph.D.
        de Kenneth McMillan. tesis, que recibió una ACM Doctoral Disertación
        Otorgar. Además, su grupo de investigación desarrolló la primera
        resolución paralela demostrador de teoremas (Partenón) y el primer
        demostrador de teoremas basado en un sistema de cálculo simbólico
        (Analytica). En 2009 lideró la creación del centro de Modelado y Análisis
        Computacional de Sistemas Complejos (CMACS), financiado por la Fundación
        Nacional de Ciencia. Este centro cuenta con un equipo de investigadores,
        que abarca múltiples universidades, solicitando interpretación abstracta y
        comprobación de modelo a los sistemas biológicos y embebidos.
      </p>

    <h4>Continuar:</h4>
    <a href="/hamilton">Sobre Hamilton</a>

    <a href="/"><h4>Volver al inicio</h4></a>
  </body>
</html>
