<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <H1>HEROÍNAS Y HÉROES DE LA PROGRAMACIÓN</H1>
    <ul>
        <li><a href="/babbage"> <img src="/img/babbage.jpg" alt="Babbage" width="900" height="340"> </a></li>
        <li><a href="/berners-lee"> <img src="/img/bernester.jpg" alt="Bernester-lee" width="900" height="340"> </a></li>
        <li><a href="/clarke"> <img src="/img/clarke.jpg" alt="Bernester-lee" width="900" height="340"></a></li>
        <li><a href="/hamilton"> <img src="/img/hamilton.gif" alt="Bernester-lee" width="900" height="340"></a></li>
        <li><a href="/hopper"> <img src="/img/hopper.jpg" alt="Bernester-lee" width="900" height="340"></a></li>
        <li><a href="/lovelace"> <img src="/img/lovelace.jpeg" alt="Bernester-lee" width="900" height="340"></a></li>
        <li><a href="/turing"> <img src="/img/turing.jpeg" alt="Bernester-lee" width="900" height="340"></a></li>
        </ul>
</body>
</html>